@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  min-height: 100%;
}

.name {
  color: #e8cfc2;
  font-size: 30px;
  padding-top: 2rem;
}

.textAboutMe {
  color: #52525b;
  font-size: 1rem;
  text-align: justify;
  margin-top: 30px;
  text-indent: 30px;
  line-height: 1.9rem;
}

.logo {
  width: 20em;
}

.secondaryColor {
  color: #fff;
}

.test {
  font-family: 'Courier New', monospace;
  color: #1e1e26;
  letter-spacing: 2px;
  font-weight: 200;
  line-height: 110%;
}

.title {
  color: #b98b74;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  font-size: x-large;
  padding-bottom: 3%;
}

.mobileNumber {
  padding-left: 10px;
}

.mobileIcon {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contactAlign {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
}

.address {
  font-size: medium;
}

.secondary {
  background-color: #e8cfc2;
}
.primaryColor {
  color: #e8cfc2;
}

.primaryBack {
  background-color: #fff;
}

.buttonStyle {
  font-family: 'Carme', sans-serif;
}

.socialMedia {
  justify-content: center;
  padding-bottom: 2rem;
}

.marginAdjust {
  margin-top: 5rem;
}

.sectionTitles {
  text-align: justify;
}

.secondaryTitles {
  color: #192710;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: justify;
  font-size: 1.1rem;
}

.secondaryText {
  font-size: 1.1rem;
  text-indent: 30px;
}

.buttonStyle {
  background-color: #fff;
}

.navBarColor {
  background-color: rgb(232 207 194 / 55%);
}

.navBarColorText:hover {
  background-color: #e8cfc2;
}

.galleryImage{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.galleryContainer {
  max-width: 600px; /* Adjust the width as needed */
  margin: 0 auto;
  padding-top: 30px;
}
